@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    max-width: 100vw;
}

.container {
    margin: 56px 0;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

/* Nav */

.nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

/* Header Section */

.header__description {
    text-align: center;
    margin-bottom: 40px;
}

.header__title {
    font-size: 40px;
    font-weight: 700;
}

.header__para {
    font-size: 18px;
    font-weight: 400;
}

/* Movies */ 

.movies {
display: flex;
flex-wrap: wrap;
}